<!-- Navbar -->
<nav class="navbar navbar-expand-lg light">
    <!-- Container wrapper -->
    <div class="container light">
        <!-- Left-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <span class="nav-link text-col cur-pointer" routerLink="">Home</span>
                </li>
            <li class="nav-item">
              <span class="nav-link text-col cur-pointer" routerLink="imdb">IMDb</span>
            </li>
            <li class="nav-item">
            <span class="nav-link text-col cur-pointer" routerLink="imdb">IMDb</span>
            </li>
          </ul>
        <div class="d-flex align-items-center">
        <button class="btn btn-back-dark px-3" (click)="toggleDarkMode()">
            <mat-icon class="light" aria-hidden="false" aria-label="Example home icon">highlight</mat-icon>
        </button>
        </div>
    </div>
</nav>